@import "tailwindcss";

:root {
  --bg: #000000;
  --card: #1b1b1b;
  --green: #1ed760;
  --red: #ff5151;
  --white: #ffffff;
}

body {
  background: var(--bg);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
